@use '../abstracts/functions';
@use '../abstracts/mixins';

.hero {
  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  &__img {
    height: auto;
    width: 100%;
  }
  @include mixins.media-breakpoint(max, tablet) {
    &__text {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  @include mixins.media-breakpoint(min, tablet) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    &__text {
      padding: 0 10px 0 25px;
    }
    &__img {
      border-radius: 0 0 0 20%;
    }
  }
}
